<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	
	<listener>
		<listener-class>ee.ut.esi.buildit.log.Log4JConfigurator</listener-class>
	</listener>
	
	<servlet>
		<servlet-name>ee.ut.esi.buildit.servlet.SiteEngineerServlet</servlet-name>
		<servlet-class>ee.ut.esi.buildit.servlet.SiteEngineerServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet>
		<servlet-name>ee.ut.esi.buildit.servlet.WorksEngineerServlet</servlet-name>
		<servlet-class>ee.ut.esi.buildit.servlet.WorksEngineerServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>ee.ut.esi.buildit.servlet.SiteEngineerServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>ee.ut.esi.buildit.servlet.WorksEngineerServlet</servlet-name>
		<url-pattern>/boss/</url-pattern>
	</servlet-mapping>
</web-app>