<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	
	<listener>
		<listener-class>ee.ut.esi.buildit.log.Log4JConfigurator</listener-class>
	</listener>
	
	<servlet>
		<servlet-name>ee.ut.esi.buildit.servlet.CompanyServlet</servlet-name>
		<servlet-class>ee.ut.esi.buildit.servlet.CompanyServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet>
		<servlet-name>ee.ut.esi.buildit.servlet.BossServlet</servlet-name>
		<servlet-class>ee.ut.esi.buildit.servlet.BossServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>javax.ws.rs.core.Application</servlet-name>
		<load-on-startup>1</load-on-startup>
	</servlet>
		
	<servlet-mapping>
		<servlet-name>ee.ut.esi.buildit.servlet.CompanyServlet</servlet-name>
		<url-pattern>/company</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>ee.ut.esi.buildit.servlet.BossServlet</servlet-name>
		<url-pattern>/boss/</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>javax.ws.rs.core.Application</servlet-name>
		<url-pattern>/rest/*</url-pattern>
	</servlet-mapping>
</web-app>